<div class="card">
  <div class="row">
    <div class="ag-courses_item mt-3">
      <div class="ag-courses-item_link">
        <div class="ag-courses-item_bg"></div>

        <div class="ag-courses-item_title">No of Visitors: {{totalVisitor}}</div>


      </div>
    </div>

    <div class="ag-courses_item mt-3">
      <div class="ag-courses-item_link">
        <div class="ag-courses-item_bg"></div>

        <div class="ag-courses-item_title">No of Employees: {{totalEmploye}}</div>


      </div>
    </div>

    <div class="ag-courses_item mt-3">
      <div class="ag-courses-item_link">
        <div class="ag-courses-item_bg"></div>

        <div class="ag-courses-item_title">
          No of Departments:{{totalDepartment}}
        </div>
      </div>
    </div>
  </div>
</div>
